@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --primary-color: #ff0f0f;
}

body {
  font-family: "Nunito", sans-serif;
}

.red-btn {
  background-color: var(--primary-color);
}

.red-btn:hover {
  background-color: var(--primary-color);
  opacity: 0.9;
}

.bi-star-fill {
  color: #ffbf00;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--primary-color);
}
