@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --primary-color: #ff0f0f;
}

body {
  font-family: "Nunito", sans-serif;
}

.red-btn {
  background-color: var(--primary-color);
}
