@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --primary-color: #e97451;
  --light-color: #fff;
}

body {
  font-family: "Open Sans", sans-serif;
}

.navbar-brand span {
  color: var(--primary-color);
}

.orange-btn {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.orange-btn:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
  opacity: 0.9;
}
