@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --primary-color: #e97451;
  --light-color: #fff;
  --dark-color: #000;
}

body {
  font-family: "Open Sans", sans-serif;
}

.navbar-brand span {
  color: var(--primary-color);
}

.orange-btn {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.orange-btn:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
  opacity: 0.9;
}

.nav-pills .nav-link:not(.active) {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.nav-pills .nav-link.active {
  background-color: #fff;
  color: #000;
  border-radius: 0;
  font-weight: bold;
}

.content-img {
  height: 18em;
  object-fit: cover;
}
