@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
}

#icon {
  height: 7em;
  width: 7em;
}

.font-xl {
  font-size: 5rem;
}

.location {
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.font-lg {
  font-size: 3.5rem;
}

.bi-sunrise-fill,
.bi-sunset-fill {
  color: #ffbf00;
}

.bi-thermometer-high,
.bi-thermometer-low {
  color: #ee4b2b;
}

.card {
  height: 15em;
}
